@model BookStore.Models.Book

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New book</h2>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name, "Name of the book")
    <br />
    @Html.EditorFor(model => model.Name)
    <br />
    <br />
    @Html.LabelFor(model => model.Author, "Author")
    <br />
    @Html.EditorFor(model => model.Author)
    <br />
    <br />
    @Html.LabelFor(model => model.Price, "Price")
    <br />
    @Html.EditorFor(model => model.Price)
    <br />
    <br />
    <input type="submit" value="Add" />
   
}